/* Popup container */

.container {
  display: flex;
  width: 350px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  /* display: flex;
  width: 350px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #fff; */
  /* display: flex;
  width: 350px;
  padding: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #ffffff; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.header-container {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: flex-stretch;
  align-self: stretch;
}

.header {
  margin-top: auto;
  color: #000000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#setting_icon {
  display: flex;
  margin-left: auto;
  width: 25px;
  height: 25px;
  fill: rgb(0, 0, 0);
  color: black;
}

/* #flag_icon {
  display: flex;
  margin-left: auto;
  width: 2rem;
  height: 2rem;
} */

.title-container {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.title {
  color: #0f172a;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-container {
  display: flex;
  padding: 25px 16px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

*,
*:focus,
*:hover {
  outline: none;
}

.btn {
  display: flex;
  width: 310px;
  height: 40px;
  padding: 8px 12px;

  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: #0a99ff;
  border: 1px solid #edeff1;
}

.link {
  margin: auto;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.add-task-home {
}
